@model IEnumerable<SSC_Admin_Website.Models.Config>

@{
    ViewBag.Title = "Cài đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Cài đặt</h2>

<table class="table table-responsive-sm table-hover">
    <thead>
        <tr>
            <th>variable_name</th>
            <th>value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.VariableName
                </td>
                <td>
                    @item.Value
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VariableName }, new { @class = "btn btn-outline-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
