<div>
<label class="col-form-label col-md-3" style="color:blue;font-weight:600">Tổng trị giá đơn hàng >= </label>
<input type="number" name="ttgth" min ="0" value="0" pattern="[0-9.]+" /><br />
<label class="col-form-label col-md-3" style="color:blue;font-weight:600">Trị Gía Giảm = </label>
<input type="number" name="gtgdh" min="0" value="0" pattern="[0-9.]+" max="100"/> <spna>(%)</spna>
</div>